@use "src/styles/partials/colors";
@use "src/styles/partials/mixins";

.city {
  &-body {
    width: 1100px;
    margin: 0 auto;
    padding: 0 30px 30px;

    .fixed-pos {
      position: sticky;
      top: 290px;
      width: 100%;
      padding: 40px 0 15px;
      background-color: colors.$grey_100;
    }

    .weather {
      &-wrapper {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 20px;
        width: 100%;
        margin-top: 10px;
        overflow: scroll !important;

        h2 {
          margin-bottom: 20px;
        }
      }

      &-card {
        background-color: colors.$white;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
          0 4px 6px -4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        height: 500px;
        overflow-y: scroll;

        hr.divider {
          border: none;
          border-bottom: 1px solid colors.$grey_200;
          margin: 15px 0;
        }
      }
    }
  }
}
