@use "src/styles/partials/colors";
@use "src/styles/partials/mixins";

.city {
  &-header {
    background: linear-gradient(
      90deg,
      rgba(58, 180, 171, 1) 20%,
      rgba(29, 35, 253, 1) 60%,
      rgba(253, 29, 171, 1) 90%
    );
    @include mixins.displayFlex();
    font-family: "Roboto Mono", monospace;
    color: colors.$white;
    text-transform: uppercase;
    letter-spacing: 10px;
    height: 200px;
    padding: 30px;
    position: sticky;
    top: 90px;
    z-index: 10;
  }

  &-body {
    width: 1100px;
    margin: 0 auto;
    padding: 30px;

    .input-wrapper {
      width: 100%;
      position: relative;
      margin: 10px 0;

      input {
        width: 100%;
        border: 1px solid colors.$grey_200;
        padding: 10px 20px;
        font-size: 16px;
        background-color: transparent;
        text-transform: capitalize;

        &::placeholder {
          color: colors.$grey_300;
        }
      }

      .search-icon {
        position: absolute;
        top: 10px;
        right: 20px;
        color: colors.$grey_300;
        cursor: pointer;
      }
    }

    .weather-card {
      background-color: colors.$white;
      width: 100%;
    }
  }
}
