@use "src/styles/partials/colors";
@use "src/styles/partials/mixins";

.city-header {
  background: #82c6ea;
  @include mixins.displayFlex();
  font-family: "Roboto Mono", monospace;
  color: colors.$white;
  text-transform: uppercase;
  letter-spacing: 10px;
  height: 100px;
  padding: 30px;
  position: sticky;
  top: 90px;
  z-index: 10;
}
