$white: #ffffff;
$black: #000000;

$red: crimson;

$grey_100: #f8f8f8;
$grey_200: #dddddd;
$grey_300: #919191;
$grey_400: #616161;
$grey_500: #484646;
$grey_600: #5a585b;
$grey_700: #404040;
$grey_800: #151516;

$blue_200: #e8f4fe;
$blue_800: #002639;
