@use "./vars";
@use "./colors";
@use "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: vars.$font-family;
  font-weight: vars.$light;
  background-color: colors.$grey_100;
  font-style: normal;
  letter-spacing: 0.5px;
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  border: none;
  outline: none;
  font-family: inherit;
}

button {
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}
